@charset "utf-8";

.inner {
  max-width: 1200px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: url(../image/check.svg) left/2%;
}

.login {
  background: url(../image/check.svg) left/2%;
}

.reaction-icon {
  width: 20px;
}

a {
  width: fit-content;
  height: fit-content;
}
